[general]
; Адрес который будет слушать сервис
listen = localhost:8080
[cluster]
; Программа - сервер, которая будет запускаться в q3-cluster
; по умолчанию: ./ioq3ded.x86_64
server = ./ioq3ded.x86_64
; Аргументы для запуска сервера q3-cluster
; по умолчанию: +set net_ip $address +set net_port $port
; Подстановки:
;  $port - порт который должен слушать сервер
;  $address - адрес который должен слушать сервер
arguments = +set net_noudp 0 +set sv_strictAuth 0 +set dedicated 1 +set sv_punkbuster 0 +set sv_lanForceRate 0 +set net_ip $address +set net_port $port +map q3dm6
[storage]
; Параматры для подключения к Redis серверу
address = 0.0.0.0:6379
database = 2
password =